/* .blog_section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .blog_section .blog_content .blog_item {
    margin-bottom: 30px;
    box-shadow: 0 0 11px 0 rgba(6, 22, 58, 0.14);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
  }
  .blog_section .blog_content .blog_item:hover .blog_image img {
    transform: scale(1.1);
  }
  .blog_section .blog_content .blog_item .blog_image {
    overflow: hidden;
    padding: 0;
  }
  .blog_section .blog_content .blog_item .blog_image img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .blog_section .blog_content .blog_item .blog_image span i {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 45px;
    padding-top: 7px;
    text-align: center;
    right: 20px;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    background-color: #ff5e14;
  }
  .blog_section .blog_content .blog_item .blog_details {
    padding: 25px 20px 30px 20px;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
    color: #020d26;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: none;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
    color: #ff5e14;
  }
  .blog_section .blog_content .blog_item .blog_details ul {
    padding: 0 3px 10px 0;
    margin: 0;
  }
  .blog_section .blog_content .blog_item .blog_details ul li {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    color: #7f7f7f;
  }
  .blog_section .blog_content .blog_item .blog_details ul li i {
    padding-right: 7px;
  }
  .blog_section .blog_content .blog_item .blog_details p {
    border-top: 1px solid #e5e5e5;
    margin-top: 4px;
    padding: 20px 0 4px;
  }
  .blog_section .blog_content .blog_item .blog_details a {
    font-size: 16px;
    display: inline-block;
    color: #ff5e14;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .blog_section .blog_content .blog_item .blog_details a:hover {
    color: #020d26;
  }
  .blog_section .blog_content .blog_item .blog_details a i {
    vertical-align: middle;
    font-size: 20px;
  }
  .blog_section .blog_content .owl-nav {
    display: block;
  }
  .blog_section .blog_content .owl-nav .owl-prev {
    position: absolute;
    left: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    transition: all 0.3s;
    color: #fff;
  }
  .blog_section .blog_content .owl-nav .owl-prev span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-prev:hover {
    background: #fff;
    border-color: #ff5e14;
    color: #ff5e14;
  }
  .blog_section .blog_content .owl-nav .owl-next {
    position: absolute;
    right: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ff5e14;
    color: #fff;
    transition: all 0.3s;
  }
  .blog_section .blog_content .owl-nav .owl-next span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-next:hover {
    background: #fff;
    border-color: #ff5e14;
    color: #ff5e14;
  }
  
  @media only screen and (max-width: 577px) {
    .blog_section .owl-nav .owl-prev {
      left: -17px !important;
    }
    .blog_section .owl-nav .owl-next {
      right: -17px !important;
    }
  } */




/* search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        /* position: relative; */
        top: -114px;
        background: rgba(211, 230, 240, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}



/*
body{
    margin:0;
    padding:0;
    background-color:whitesmoke;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
    .carouselOfImages{
    position: relative;
    margin: auto;
    overflow: visible;
    width: 100%;
  }
  .gradient-left{
    display: block;
    position: relative;
    background-image: linear-gradient(to right, whitesmoke, transparent 100%);
      margin-top: -270px;
    height: 150px;
    width: 8%;
    content: '';
  }
  .gradient-right{
    display: block;
    position: relative;
    float: right;
    right:0;
    background-image: linear-gradient(to left, whitesmoke, transparent 100%);
        margin-top: -150px;
    height: 150px;
    width:8%;
    content: '';
  }
  
  .carouselImage {
      position: relative;
      width: 20%;
      height: 45px;
      padding: 24px;
      border: 1.5px solid black;
      margin-right: 33px;
      margin-top: 70px;
      margin-bottom: 50px;
      counter-increment: carousel-cell;
      text-align: center;
      vertical-align: center;
      transition: transform 0.5s;
      font-size: 1.2em;
    }
  @media only screen and (max-width: 1300px){
      .carouselImage{
          width: 30%;
      }
  }
  @media only screen and (max-width: 773px){
      .carouselImage{
          width: 50%;
      }
  
  }
  @media only screen and (max-width: 490px){
      .carouselImage{
          width: 50%;
          padding: 15px;
      }
  
  }
  
  
  .carouselImage.is-selected {
  
  border: 1.5px solid #00ADEE;
  color:#00ADEE;
    z-index:10;
    transform: scale(1);
  }
  .carouselImage.nextToSelectedLeft, .carouselImage.nextToSelectedRight {
    transform: scale(1);
    z-index:5;
  }
  
  /*! Flickity v2.0.5
  https://flickity.metafizzy.co
  ---------------------------------------------- */
  
  .flickity-enabled {
    position: relative;
  }
  
  /* .flickity-enabled:focus { outline: none; } */
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
  /*           tap-highlight-color: transparent; */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .flickity-viewport {
      margin: 0px;
      width: 100%;
      margin-bottom: 100px;
  }
  