<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="CssLogin.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="java.js"></script>
   


    <title>Đăng nhập</title>
</head>
<body ng-app="myApp">
        <div class="Login" ng-controller="myCtrl">
            <div class="form-box">
                <div class="button-box">
                  <div id="btn"></div>
                    <button type="button" class="toggle-btn">Log In</button>
                </div>
                <div class="social-icons">
                  <img src="image/fb.jpg">
                  <img src="image/tw.jpg">
                  <img src="image/gp.png">
                </div>
                <form action="/" id="login" class="input-group">
                    <input type="text" class="input-field" name="username" id="username" ng-model="username" placeholder="User Id" required="">
                    <input type="password" class="input-field" name="password" id="password" ng-model="password" placeholder="Enter Password" required="">
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" ng-click="submit()" class="submit-btn">Log in</button>
                </form>
            </div>
           
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script>
        var app = angular.module('myApp',[]);
            app.controller("myCtrl",function($scope){
                var login =[
                    {
                        username:"hoang",
                        password:"1234"
                    },
                    {
                        username:"hoangtran",
                        password:"huyhoang"
                    },
                ]
                $scope.submit = function(){
                    var user = $scope.username;
                    var pass = $scope.password;
                    for(i=0; i< login.length; i++){
                        if(user == login[i].username && pass == login[i].password)
                            {
                                alert(username + "is logged in");
                            }
                        if(user == login[i].username && pass != login[i].password){
                            alert("mật khẩu sai");
                        }
                        if(user != login[i].username && pass == login[i].password){
                            alert("tên đăng nhập không đúng");
                        }
                        if(user != login[i].username && pass != login[i].password){
                            alert("bạn chưa đăng ký tài khoản");
                        }
            
                    }
                }
            });
    </script>

</body>
</html>
